{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

<div class="editPage">
    <div class="edit">
        <h1>{{ 'action.Edit_User'|trans }}</h1>

        {{ include('contoller_view/_form.html.twig', {'button_label': 'Update'}) }}
    
        <a href="{{ path('contoller_view_index') }}">{{'back_to_list'|trans}}</a>
    
        {{ include('contoller_view/_delete_form.html.twig') }}
    </div>
</div>
    
{% endblock %}
